.category-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    margin: 0;

    &__item {
        width: 100%;
    }

    &__wrapper {
        padding: spacer(2) spacer(3);
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: spacer(2);

        &:last-child {
            border-bottom: none;
        }
    }

    &__button {
        width: 22px;
        height: 22px;
        font-weight: 400;
        padding: 0
    }

    &__name {
        @include font($font-normal, 1, 400);
    }

    &__fly-button {
        margin-left: auto;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: none;
        font-size: $font-large;
    }

    &__sub-menu {
        background: #ebebeb;
        border-bottom: 1px solid #ccc;
        padding-left: spacer(10);

        &--third {
            border: none;
        }
    }
}
