.input {
    @include font($font-normal, 1, 400);

    display: block;
    width: 100%;
    height: 32px;
    padding: 0 spacer(3);
    color: $text-color;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: softer(2);
    transition: border-color $midd-animation ease-in-out, box-shadow $midd-animation ease-in-out;

    &[type=checkbox] {
        display: inline-block;
        width: auto;
        padding: 8px;
        height: auto;
    }

    &:focus,
    &:active {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}
