.cats-validator {
    &__title {
        margin-bottom: 16px;
    }

    &__wrapper {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding: spacer(5);
        gap: spacer(4);
    }

    &__item {
        display: flex;
        flex-direction: column;
    }
}

.validator {
    overflow: hidden;
    border-radius: softer(2);

    &__title-block {
        background-color: $dark-green;
        color: $white;
        display: flex;
        align-items: center;
        gap: spacer(3);
        padding: spacer(2) spacer(3);
    }

    &__title {
        font-size: $font-middle;
        font-weight: 400;
        margin: 0;
        padding-left: spacer(2);
    }

    &__search {
        margin-left: auto;
        width: 280px;
    }

    &__body {
        border: 1px solid #ccc;
        background: #f9f9f9;
        border-radius: 0 0 softer(2);
        overflow: hidden;
    }
}
