.cats-validator {
    padding: spacer(5);
    &__title {
        margin-bottom: 16px;
    }

    &__wrapper {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: spacer(4);
        height: 83%;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }
}

.validator {
    overflow: hidden;
    border-radius: softer(2);
    height: 100%;

    &__title-block {
        background-color: $dark-green;
        color: $white;
        display: flex;
        align-items: center;
        gap: spacer(3);
        padding: spacer(2) spacer(3);
        position: relative;
    }

    &__title {
        font-size: $font-middle;
        font-weight: 400;
        margin: 0;
        padding-left: spacer(2);
    }

    &__select {
        outline: none;
        background: none;
        position: relative;
        color: #fff;

        &>option {
            color: $text-color;
        }

        // &:after {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     height: 2px;
        //     background: #fff;
        // }
    }

    &__search {
        margin-left: auto;
        width: 280px;
    }

    &__body {
        border: 1px solid #ccc;
        background: #f9f9f9;
        border-radius: 0 0 softer(2);
        overflow-y: auto;
        height: 93%;
        position: relative;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background: #64bd38;
            border-radius: 10px;
        }
    }

    &__bulk-edit {
        position: absolute;
        left: 1px;
        bottom: -42px;
        right: 0px;
        padding: spacer(2);
        gap: spacer(4);
        display: none;
        justify-content: flex-end;
        background: #fff;
        border-bottom: 1px solid #ccc;
        z-index: 1;
        margin-right: 8px;
        box-shadow: 0 2px 4px rgb(28 24 25 / 10%);

        &--open {
            display: flex;
        }
    }
}

.category-name--selected {
    color: $green;
}
