@import 'reset.scss';
@import 'vars.scss';
@import 'grid-system.scss';
@import 'mixins.scss';
@import 'forms/inputs.scss';
@import 'buttons/buttons.scss';
@import 'cats-validator/validator.scss';
@import 'product-validator/validator.scss';
@import 'category-list/category-list.scss';
@import 'page-title/page-title.scss';
@import 'search-box/search-box.scss';
@import 'pagination/pagination.scss';
@import 'product-formatter.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'iconmoon/font.scss';

body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

body * {
    box-sizing: border-box;
}
